<div ng-controller="ContactsCtrl">
    <div class="panel-heading">
        <h2 class="caption text-info">
            Контакты
        </h2>
    </div>
    <div class="panel-body row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <h6 class="caption text-center text-primary">схема проезда</h6>
                <img src="" alt="" class="img-responsive img-thumbnail img-rounded"/>
            </div>
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h4 class="list-group-item-heading caption">Телефон:</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultrices vestibulum nulla et dignissim. Suspendisse malesuada auctor consectetur.
                            </p>
                        </div>
                        <div class="cont col-sm-3">
                            <span class="label label-info">8(499)111-11-11</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading caption">Адрес:</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultrices vestibulum nulla et dignissim. Suspendisse malesuada auctor consectetur.
                            </p>
                        </div>
                        <div class="cont col-sm-3">
                            <span class="label label-info">Москва, ....д.1к.1</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>